# Local development values loaded by `wrangler dev`
CLOUDFLARE_API_TOKEN=REPLACE_WITH_API_TOKEN
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
# ↑ テスト用のサイトキー・シークレットキー
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/#testing-scenarios
